set timeout=6

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Install System" {
	set gfxpayload=keep
	linux	/casper/vmlinuz   autoinstall   ds=nocloud\;s=/cdrom/nocloud/  cloud-config-url=/dev/null ---
	initrd	/casper/initrd
}
grub_platform
if [ "$grub_platform" = "efi" ]; then
menuentry 'Boot from next volume' {
	exit 1
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
else
menuentry 'Test memory' {
	linux16 /boot/memtest86+.bin
}
fi
